.content{ 
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:url('../content/videos/loop.jpg') center center no-repeat; 
	background-size: cover; 
}


.content .employes{
	display: none;
	z-index: 9999;
	position: relative;
	float: left;
	width: 100%;
	box-sizing: border-box;
	top: 17.8%;
	padding: 0 4.8% 0 2%;
}

.content .employes article{
	margin-bottom: 4%;
	display: inline-grid;
	width: 33.33%;
	box-sizing: border-box;
	padding-left: 6.2%;
	position: relative;
	max-height: 180px;
}

.content .employes article:before{
	position: absolute;
	left: 0;
	width: 20%;
	height: 80%;
	top: 10%;
	content: "";
	border-right: 3px dotted #9fa6b1;
}

.content .employes article.today:before{
	background: url( '../images/cake.png') no-repeat center 40%;
	background-size: 65%;
}


.content .employes article time{
	font-family: "Helvetica75";
	font-weight: 800;
	font-size: 280%;
	color: #25ac8e;
	padding: 5px 23px 0;
	letter-spacing: 3px;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.content .employes article h2{
	font-family: "Helvetica";
	padding-left:23px;
	letter-spacing: 3.5px;
	font-size: 180%;
	text-transform: uppercase;
	color: #667285;
}

.content .employes article h3{
	font-family: "Sapura";
	padding: 2px 23px;
	letter-spacing: 3px;
	font-size: 210%;
	text-transform: uppercase;
	color: #9fa6b1;
}

#intro{ z-index: 1; position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
#loop{ z-index: 0; position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

